body {
    background: rgb(9, 93, 99);
    background-image: url(https://wallpapercave.com/wp/wp4507817.jpg);
    color: rgb(255, 238, 199);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#inicio{
    justify-content: start;
    padding: 40px;
    padding-right: 10%;
    padding-left: 10%;
    background: rgba(3, 35, 37, 0.164);
}

p {
    text-align: center;
    font-size: 25px;
}

#escolha{
    padding: 40px;
    text-align: center;
}

a {
    text-align: center;
    font-size: 25px;
    color:orange;
    background: rgba(3, 35, 37, 0.164);
    padding: 5px;
    padding-right: 40px;
    padding-left: 40px;
    
}